@charset "UTF-8";

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fontes/FontsFree-Net-SFProDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 44px;
    width: 100vw;
    background-color: #454545c4;
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(7px);
}

header nav img {
    width: 44px;
    
}



header nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

nav a {
    font-size: .75rem;
    line-height: 1rem;
    text-decoration: none;
    color: #d5d5d5;
    font-family: 'SF Pro Display';
}

nav .conta, .sacola {
    height: 1rem;
    font-size: 1.1rem;
    color: #d5d5d5;
    cursor: pointer;
}

.sobre-nos {
    display: flex;
    align-items: center;
    height: 46px;
    width: 100vw;
    background-color: black;
    margin-top: 44px;
}

.sobre-nos-content {
    display: flex;
    position: absolute;
    right: 20%;
    color: #dfdfdf;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 13px;
    line-height: 2em;
    width: 400px;
    justify-content: space-around;
}

.comunidade {
    color: #dfdfdf;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 12px;
    padding: 6px 15px;
    background-color: #2b73db;
    border: none;
    border-radius: 15px;
}
main {
    position: absolute;
    top: 90px;
    background-color: #F7F7F7;
}

.compre-online-container {
    height: 51px;
    display: flex;
    align-items: center;
    background-color: #efefef;
}

.texto-topo {
    text-align: center;
    width: 100vw;
    font-size: 13px;
    color: #292929;
    text-shadow: .5px 0px 0px rgba(0, 0, 0, 0.61);
}

.compreonline {
    color: #2b73db;
    text-decoration: underline;
}

.produto {
    width: 80%;
    padding: 60px 20px 0px;
    margin: auto;
    text-align: center;
}

.produto h1 {
    font-size: 52px;
}

.produto h2 {
    font-size: 28px;
}

.produto h3 {
    font-size: 22px;
    color: #999999;
    font-weight: normal;
    text-shadow: 1px 0 0 #999999;
}

.linha-botao-compra {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;
    padding-top: 15px;
    margin-bottom: 15px;
}

span.saiba-mais {
    color: #2b73db;
    text-decoration: underline;
    font-size: 18px;
}

.compra {
    color: #dfdfdf;
    font-family: 'SF Pro Display';
    text-shadow: .5px 0 0 #dfdfdf;
    font-size: 16px;
    padding: 10px;
    width: 180px;
    background-color: #2b73db;
    border: none;
    border-radius: 20px;
}

.div-foto-produto {
    width: 80%;
    margin: auto;
}

#fone-ht05 {
    max-width: 400px;
    display: block;
    margin: auto;
}

#fone-t20 {
    max-width: 466px;
    padding-top: 30px;
    margin-bottom: -4px;
}

.background-black-t13 {
    width: 100vw;
    background-color: black;
    margin-bottom: 7px;
}

#fone-t13 {
    height: 400px;
    margin-bottom: -4px;
}

.t13-white {
    color: white;
    box-shadow: none;
}

.video-background {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.conteudo-apresentacao {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

.video-apresentação {
    display: block;
    height: 617px;
}
.apreh3 {
    font-size: 15px;
}

.apreh1 {
    font-size: 46px;
}

.apreh4 {
    font-size: 18px;
}

.link-video-apre {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 18px 60px 18px 31px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 32px;
    line-height: 1rem;
}

.play-icon {
    position: relative;
    left: 30px;
    font-size: 28px;
    line-height: 1rem;

}


.criticas {
    height: 168px;
    width: 95vw;
    background-color: black;
    margin: auto;
    border-radius: 25px;
    padding: 25px;
}

.criticas h3 {
    color: white;
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: normal;
    text-align: center;
}

.imagens-criticas {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 120px;

}

.background-black-tecnologia {
    width: 100vw;
    height: 450px;
    background-color: black;
    margin-top: 40px;
}

.background-black-tecnologia > h1 {
    color: white;
    width: 893px;
    position: relative;
    left: 150px;
    top: 70px;
    font-size: 100px;
    line-height: 0.9em;
}

.background-black-tecnologia > p {
    color: white;
    font-size: 20px;
    width: 893px;
    position: relative;
    left: 150px;
    top: 85px;
}